@if (event$ | async; as event) {
<div class="container pb-5" style="margin-top: 80px; position: relative; z-index: 10;">
    <div class="row g-4">
        <div class="col-lg-8">
            <div class="card shadow-sm border-0 rounded-4 overflow-hidden mb-3 p-2" style="max-width: 1000px;">
                <div class="row g-0 align-items-center">

                    <div class="col-md-2 col-lg-2 col-2">
                        <img [src]="event.image ? ('/api/v1/events/' + event.id + '/image') : '/images/noImage.png'"
                            class="img-fluid rounded-3 object-fit-cover" style="height: 100%; width: 100%;" alt="Event">
                    </div>

                    <div class="col-md-10 col-lg-10 col-10">
                        <div class="card-body py-2 px-4">

                            <div class="d-flex justify-content-between align-items-start mb-1">
                                <div>
                                    <h5 class="card-title fw-bold d-inline-block me-2">{{event.title}}
                                    </h5>
                                    <div class="mt-1">
                                        <span
                                            class="badge border text-dark fw-normal rounded-pill px-3 bg-light">{{event.category}}</span>
                                    </div>
                                </div>
                            </div>

                            <p class="card-text text-secondary small mb-3">
                                {{event.description}}
                            </p>

                            <div
                                class="d-flex flex-wrap justify-content-between align-items-center text-secondary small">
                                <div class="d-flex align-items-center me-4">
                                    <i class="bi bi-calendar3 me-2"></i> {{event.date}} / {{event.time}}
                                </div>
                                <div class="d-flex align-items-center me-4">
                                    <i class="bi bi-geo-alt me-2"></i> {{event.location}}
                                </div>
                                <div class="d-flex align-items-center">
                                    Basic Tickets: <span class="text-dark fw-bold ms-1">{{ event.availableBasicTickets
                                        }}</span>
                                </div>
                                <div class="d-flex align-items-center">
                                    VIP Tickets: <span class="text-dark fw-bold ms-1">{{ event.availableVipTickets
                                        }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="border-secondary-subtle">
                <div class="row g-3 justify-content-center mb-4">

                    <div class="col-12 text-center mb-3">
                        <label class="fw-bold small shadow-none d-block mb-3">Select Ticket Type</label>

                        <div class="btn-group" role="group" aria-label="Ticket Type Selection">
                            @if (event.availableBasicTickets > 0) {
                            <input type="radio" class="btn-check" name="ticketType" id="typeBasic"
                                [(ngModel)]="this.selectedTicketType" value="BASIC" (change)="reloadPriceTotal()">
                            <label class="btn btn-outline-primary px-4 py-2 fw-bold" for="typeBasic">
                                Basic <br> <span class="fw-normal small">{{ event.basicPrice }}€</span>
                            </label>
                            }
                            @if (event.availableVipTickets > 0) {
                            <input type="radio" class="btn-check" name="ticketType" id="typeVip"
                                [(ngModel)]="this.selectedTicketType" value="VIP" (change)="reloadPriceTotal()">
                            <label class="btn btn-outline-primary px-4 py-2 fw-bold" for="typeVip">
                                VIP <br> <span class="fw-normal small">{{ event.vipPrice }}€</span>
                            </label>
                            }
                        </div>
                    </div>

                    <div class="col-12 d-flex flex-column align-items-center gap-2">
                        <label class="fw-bold small shadow-none">Number of Tickets</label>

                        <div class="d-flex align-items-center gap-3">
                            <button id="decrease-ticket-btn" type="button" (click)="decrease()"
                                class="btn btn-outline-secondary d-flex align-items-center justify-content-center p-0 rounded-3 border-light-subtle shadow-sm"
                                style="width: 32px; height: 32px;">
                                <i class="bi bi-dash fs-5"></i>
                            </button>

                            <span class="fw-semibold fs-5 px-2">{{ quantity }}</span>

                            <button id="increase-ticket-btn" type="button" (click)="increase()"
                                class="btn btn-outline-secondary d-flex align-items-center justify-content-center p-0 rounded-3 border-light-subtle shadow-sm"
                                style="width: 32px; height: 32px;">
                                <i class="bi bi-plus fs-5"></i>
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card border-0 shadow-sm rounded-4 sticky-top" style="top: 20px;">
                <div class="card-body p-4 p-md-5">
                    <h2 class="text-dark fw-bold mb-4 display-6">Order Summary</h2>
                    @if (errorMessage) {
                    <ngb-alert type="danger" [dismissible]="true" (closed)="errorMessage = null"
                        class="mb-4 text-start">
                        {{ errorMessage }}
                    </ngb-alert>
                    }
                    @if (this.selectedTicketType == 'BASIC') {
                    <div class="d-flex justify-content-between align-items-center fw-bold mt-4">
                        <span>Basic Ticket ({{quantity}}x)</span>
                        <span class="text-dark fs-5">${{this.priceTotal.toFixed(2)}}</span>
                    </div>
                    }
                    @else if (this.selectedTicketType == 'VIP') {
                    <div class="d-flex justify-content-between align-items-center fw-bold mt-4">
                        <span>VIP Ticket ({{quantity}}x)</span>
                        <span class="text-dark fs-5">${{this.priceTotal.toFixed(2)}}</span>
                    </div>
                }
                    <hr class="border-secondary-subtle">

                    <div class="d-flex justify-content-between align-items-center fw-bold text-dark mt-4">
                        <span>Total</span>
                        <span class="text-primary fs-5">${{this.priceTotal.toFixed(2)}}</span>
                    </div>

                    <button id="pay-btn" (click)="pay();" class="btn btn-dark w-100 py-3 rounded-3 fw-bold mb-4"
                        style="margin-top: 20px;">Pay</button>
                </div>
            </div>
        </div>

    </div>
</div>
}